@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vercetti";
  src: url("../fonts/Vercetti-Regular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Niconne";
  src: url("../fonts/Niconne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.goog-te-gadget{
  color: white !important;
}

.goog-te-combo{
  @apply !text-dark;
}

